

/* Add product button styles */
.addproductbutton {
    align-self: flex-start;
    margin: 100px 50px  50px;
    background-color: #055008;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.productcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addproductbutton:hover {
    background-color: #08860d;
}






/* Individual product styles */

.productContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 40px  50px;

}

.product {
    min-width: 280px;
    min-height: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.product h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.product p {
    margin: 6px 0 10px;
    font-size: 1em;
}





/* Styles for delete and Update buttons */
.delete, .update {
    background-color: red;
    color: white;
    width: 80px;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 10px 0px;
}

.update {
    background-color: green;
}





/* Hide and show form divs */
#updateFormDiv {
    display: none;
}

#updateProductForm {
    width: 90%;
}

#imgdiv img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


@media screen and (max-width: 480px) {


    .addproductbutton {
        margin: 80px 20px  20px;
    }

    .productContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 0px;
        margin-bottom: 30px;
    }
    .product{
        width: 90%;
        min-height: 530px;
    }



    .product img {
        width: 100%;
        height: 300px;
        border-radius: 4px;
    }

    #imgdiv img {
        width: 150px;
        height: 150px;
        border-radius: 4px;
        margin: 0px 0px 20px;
        object-fit: cover;
    }


    
}

@media screen and (480px<=width<=1000px){
    .productContainer {
        flex-wrap: wrap;
        margin-left: 16px;
    }
    .product{
        min-width: 250px;
        height: auto;
    }
    .addproductbutton {
        margin-left: 16px;
    }

    
}