@import url('../../general/css/headerfooter.css');

.cartview{
    margin: 100px 0px 50px;

}

.cartdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 30px 50px;
    padding: 20px 20px;


    img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }

    .remove{
        font-size: 15px;
        border: none;
        padding: 5px 10px;
        background-color: red;
        border-radius: 5px;
        color: white;
    }

    .quantity{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;

        button{
            font-size: 1.5rem;
            cursor: pointer;
            margin: 0 10px;
            border: none;
            background-color: transparent;
            margin: 10px;
        }

        
    }

}